.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	background-color #FFE6E8

	&__tag
		max-width 60rem
		margin 0 auto
		text-align center
		color #333333
		font-size 1.6rem
		font-family $national-narrow
		font-weight 600

	&__hed
		max-width 50rem
		margin 0 auto
		text-align center
		color #ffffff
		font-size 2.2rem
		background-color rgba(52, 78, 165, .9)
		align-self center
		display flex
		font-family $national-narrow

	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

	&__image
		max-width 55rem
		margin 0 auto
		text-align center
		background-image url('assets/images/kpop_top_notext.png')
		background-position center
		background-size cover
		background-repeat no-repeat
		height 30rem
		display flex
		justify-content center
		align-items center

#kontinentalist-logo
	max-width 6rem
	position relative
	display inline

#pudding-logo
	max-width 6rem
	position relative
	display inline
	
