.intro
	margin 0 auto
	padding 6rem 1rem 3rem 1rem
	background-color #FFE6E8

	&__hed
		max-width 60rem
		margin 0 auto
		text-align center
		color #303986
		
	&__dek
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
	
	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center

#kontinentalist-logo
	max-width 10rem
	float right
	position absolute
	
