

/* CUSTOM STORY STYLE */
main
  background-color $pink
  color #191717
  .prose-image
    max-width 60rem
    margin 0 auto

.chart
  margin 0 auto
  padding 0
  position sticky
  top 0px
  height 100vh
  z-index 0

  +mq('bp-4')
    top 5vh


  +mq('bp-6')
    top 3vh

.chart-title
  top 7vh
  position absolute
  left 50px
  font-family $national-narrow
  font-weight 600
  color #191717

.static-chart-title
  position relative
  left 50px
  font-family $national-narrow
  font-weight 600
  color #191717

.static-chart
  max-width 70rem
  margin 0 auto
  padding 0

#chart3
  height 100vh
  #rankings
    top 50%
    transform translate(0,-50%)
    position absolute

  +mq('bp-4')
    top 5vh


  +mq('bp-6')
    top 3vh

.part2
  position relative

.step
  margin-bottom 70vh
  &:last-of-type
    padding-bottom 70vh
    margin-bottom 0vh

#bars
  height 100vh
  position absolute
  top 50%
  transform translate(0,-50%)
  left 0px
  width 100vw
  max-height 700px
  iframe
    height 100%
    position absolute
    width 100%


#bars-text, #rankings-text
  display flex
  flex-direction column
  max-width 90%
  margin 0 auto

.overlay
  z-index 1
  position relative
  background-color $pink
  border none
  border-left 3px solid $light-blue
  padding .5rem 2rem .5rem 2rem
  max-width 400px
  box-shadow 3px 5px 11px rgba(27, 6, 94, 0.22)
  align-self flex-end
  transform translate3d(0,0,0)

#rankings-text
  .overlay
    align-self center

.roles-grid
  .side-by-side
    display block
    margin auto
    width 90%
    display flex
    flex-wrap wrap
    max-width 1200px
    justify-content space-around
    svg
      text
        font-family $national-narrow
      width clamp(250px, 25%, 300px)

#first-role-image-wide
  margin auto
  display none
  width 90%
  min-width 40rem
  max-width 800px
  margin-top 3rem

  +mq('bp-4')
    display block

#first-role-image-long
  margin auto
  display block
  width clamp(250px, 25%, 300px)

  +mq('bp-4')
    display none


#bts-lead
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

#bts-roles
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

.group
  font-weight 700
  font-size 1.7rem

.group-description
  margin-top .4rem
  text-align left

#seniority-label
  color #00CEAC

#rap-label
  color #00C2EF

#vocals-label
  color #AC9BDB

#aesthetics-label
  color #F87F8B

#dance-label
  color #ECBD39

.seniority-wrapper
  border-color #00CEAC

.rap-wrapper
  border-color #00C2EF

.vocals-wrapper
  border-color #AC9BDB

.aesthetics-wrapper
  border-color #F87F8B

.dance-wrapper
  border-color #ECBD39
  margin-left auto
  margin-right auto

.generation-label
  font-weight 700
  font-family 'National 2 Narrow'
  font-size 34px

.generation-description
  margin-top .4rem
  text-align left

#generation-1-label
  color #F0C94E

#generation-2-label
  color #E58B96

#generation-3-label
  color #73BCBD

#supergroups-label
  color #FCA972

#subunits-label
  color #BF216B

#idol-label
  color #262151

.generation-1-wrapper
  border-color #F0C94E

.generation-2-wrapper
  border-color #E58B96

.generation-3-wrapper
  border-color #73BCBD

.supergroups-wrapper
  border-color #FCA972

.subunits-wrapper
  border-color #BF216B

.idol-shows-wrapper
  border-color #262151

.methodology
  margin-top 5rem

#methods-label
  font-size 1rem
  font-weight 600

#methods
  font-size .8rem
  margin-top .3rem

#footer-byline
  font-size .8rem
  margin-top .3rem

.tippy-box[data-theme~='vaporwave']{
  background-color: #262151;
  color: #F89DFC;
  font-family: $national-narrow;
  padding: .4rem;
  text-align: center;
  font-size: 1rem;
  }

.tooltip-highlight, .tooltip-highlight-gif
  color #344EA5
  color $text-blue
  background #fcd3d4
  cursor help

.tooltip-highlight-gif
  cursor help
  position relative
  .mouseover-gif
    display none
    img
      position absolute
      left 0px
      top 2rem
      width 300px

.legend
  background-color silver
  background rgb(240, 201, 78)
  margin 0 auto
  top 8vh
  z-index 1
  height 2.0038167938931295vh
  font-size .2rem
  border 1px solid white

.legend-explanation
  margin 0 auto
  top 10.0038167938931295vh
  z-index 1
  font-size 12px
  padding-top 4p
  font-family $national-narrow
  text-align center

.legend-label
  height .2vh
  position absolute
  bottom 0px
  z-index 1
  display none
  background-color #ffffff

.legend-1
  width 22.882882882882882vw
  width calc(calc(100vw - 100px)*0.253)

.legend-2
  width 10.951351351351352vw

.legend-3
  width 2.5233528459334913vw

.yt-wrapper
  max-width 100%
  padding-bottom 56%
  height 0
  position relative
  #ytvideo
    width 100%
    height 100%
    top 0px
    left 0px
    position absolute


.standalone
  margin-bottom 5rem
