/* CUSTOM STORY STYLE */
main
  background-color #FFE6E8
  color #191717

.chart
  max-width 70rem
  margin 0 auto
  padding 0 
  position sticky
  top 50vh

  +mq('bp-4')
    top 5vh


  +mq('bp-6')
    top 3vh

.static-chart
  max-width 70rem
  margin 0 auto
  padding 0 

#chart3
  top 70vh

  +mq('bp-4')
    top 5vh


  +mq('bp-6')
    top 3vh

.part2 
  position relative

.step
  margin-bottom 70vh
  &:last-of-type 
    padding-bottom 70vh
    margin-bottom 0vh

.overlay
  z-index 1
  position relative
  background-color rgba(255,230,232,.9)
  padding .5rem 1rem .5rem 1rem
  border .05rem solid 

.roles-grid
  +mq('bp-6')
    width 150%
    margin-left -25%

.side-by-side
  display block
  margin auto
  max-width 90%

  +mq('bp-4')
    display grid
    max-width 90%
    grid-template-columns 1fr 1fr

  +mq('bp-6')
    display grid
    max-width 120%
    grid-template-columns 1fr 1fr 1fr 1fr

#first-role-image-wide
  margin auto
  display none

  +mq('bp-4')
    display block
    max-width 90%

  +mq('bp-6')
    max-width 75%

#first-role-image-long
  margin auto
  display block
  max-width 90%

  +mq('bp-4')
    display none


#bts-lead
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

#bts-roles
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

.group
  font-weight 700
  font-size 1.7rem

.group-description
  margin-top .4rem
  text-align left

#seniority-label
  color #00CEAC

#rap-label
  color #00C2EF

#vocals-label
  color #AC9BDB

#aesthetics-label
  color #F87F8B

#dance-label
  color #ECBD39

.seniority-wrapper
  border .05rem solid #00CEAC

.rap-wrapper
  border .05rem solid #00C2EF

.vocals-wrapper
  border .05rem solid #AC9BDB

.aesthetics-wrapper
  border .05rem solid #F87F8B

.dance-wrapper
  border .05rem solid #ECBD39

.generation-label
  font-weight 700
  font-size 1.7rem

.generation-description
  margin-top .4rem
  text-align left

#generation-1-label
  color #F0C94E

#generation-2-label
  color #E58B96

#generation-3-label
  color #73BCBD

#supergroups-label
  color #FCA972

#subunits-label
  color #BF216B

#idol-label
  color #262151

.generation-1-wrapper
  border .05rem solid #F0C94E

.generation-2-wrapper
  border .05rem solid #E58B96

.generation-3-wrapper
  border .05rem solid #73BCBD

.supergroups-wrapper
  border .05rem solid #FCA972

.subunits-wrapper
  border .05rem solid #BF216B

.idol-shows-wrapper
  border .05rem solid #262151

.methodology
  margin-top 5rem

#methods-label
  font-size 1rem
  font-weight 600

#methods
  font-size .8rem
  margin-top .3rem  

#footer-byline
  font-size .8rem
  margin-top .3rem  

.tippy-box[data-theme~='vaporwave']{
  background-color: #262151;
  color: #F89DFC;
  font-family: $national-narrow;
  padding: .4rem;
  text-align: center;
  font-size: 1rem;
  }

.tooltip-highlight {
  color #344EA5
  cursor help
}

.tooltip-highlight-gif {
  color #344EA5
  cursor help
}

.legend 
  background-color silver
  margin 0 auto
  position sticky
  top 8vh
  z-index 1
  height 2.0038167938931295vh
  font-size .2rem

.legend-explanation
  margin 0 auto
  position sticky
  top 10.0038167938931295vh
  z-index 1
  font-size 1rem
  font-family $national-narrow
  text-align center

.legend-label
  height .2vh
  position absolute
  top .0038167938931295vh
  z-index 1
  background-color #ffffff

.legend-1
  width 22.882882882882882vw

.legend-2
  width 10.951351351351352vw

.legend-3
  width 2.5233528459334913vw

#ytvideo
  max-width inherit

.standalone
  margin-top 5rem
  margin-bottom 5rem





