.logo-swap
  img
    width 144px
    display inline-block
    position absolute
    top -20px
    left 7px
  width 160px
  display inline-block
  position relative

.section-hed
  font-family $national-narrow
  font-size 24px
  color $light-blue
  font-weight 600
  margin-top 3rem

h2
  line-height 1.3

.mouseover-text
  display none
  background #fcd4d4
  font-family $national-narrow
  font-size 17px
  margin-top 10px
  margin-bottom 10px
  padding .5rem
  line-height 1.3

/* CUSTOM STORY STYLE */
main
  background-color $pink
  color #191717
  .prose-image
    max-width 60rem
    margin 0 auto

.chart
  margin 0 auto
  padding 0
  position sticky
  top 0px
  height 100vh
  z-index 0
.chart-title
  font-family $national-narrow
  font-weight 600
  color #191717
  text-align center
  line-height 1.2
  //position absolute
  //top 0px
  //left 0px
  z-index 1000
  position relative
  //right 0px
  margin 0 auto

  h2
    margin 0 auto
    @media (max-width: 550px)
      font-size 18px
  .legend-wrapper
    display flex
    justify-content center
    margin-top -4px

.static-chart-title
  position relative
  font-family $national-narrow
  font-weight 600
  color #191717
  margin 0 auto
  width 90%
  max-width 500px

.static-chart
  max-width 70rem
  margin 0 auto
  padding 0

.part2
  position relative

.step
  margin-bottom 70vh
  &:last-of-type
    padding-bottom 70vh
    margin-bottom 0vh

.part3
  padding-top 3rem

#bars
  width 100vw
  height calc(100% - 10px)
  top 10px
  position absolute

#rankings
  max-width 70rem
  margin 0 auto
  left 0px
  right 0px
  top 20px
  position absolute
  height calc(100% - 20px)
  @media (max-height: 650px)
    max-width 850px
    height calc(100% - 50px)




#bars-text, #rankings-text
  display flex
  flex-direction column
  max-width 90%
  margin 0 auto

.overlay
  z-index 1
  position relative
  background-color $pink
  border none
  border-left 3px solid $light-blue
  padding .5rem 2rem .5rem 2rem
  max-width 400px
  box-shadow 3px 5px 11px rgba(27, 6, 94, 0.22)
  align-self flex-end
  transform translate3d(0,0,0)

#rankings-text
  .overlay
    align-self center
    @media (min-width: 1000px)
      margin-left 18rem

.roles-grid
  svg
    width clamp(250px, 25%, 300px)
    @media (max-width: 500px)
      width 90%
    text
      font-family $national-narrow
  .side-by-side
    display block
    margin auto
    width 90%
    display flex
    flex-wrap wrap
    max-width 1200px
    justify-content space-around
    svg
      @media (max-width: 500px)
        margin-bottom 3rem


#first-role-image-wide
  margin auto
  display none
  width 90%
  min-width 40rem
  max-width 800px
  margin-top 3rem

  +mq('bp-4')
    display block

#first-role-image-long
  margin auto
  display block
  @media (max-width: 500px)
    margin-bottom 3rem
  +mq('bp-4')
    display none


#bts-lead
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

#bts-roles
  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

  +mq('bp-4')
    width 130%
    left 50%
    transform translateX(-15%)
    -webkit-transform translateX(-15%)

.group
  font-weight 700
  font-size 1.7rem

.group-description
  margin-top .4rem
  text-align left

#seniority-label
  color #00CEAC

#rap-label
  color #00C2EF

#vocals-label
  color #AC9BDB

#aesthetics-label
  color #F87F8B

#dance-label
  color #ECBD39

.seniority-wrapper
  border-color #00CEAC

.rap-wrapper
  border-color #00C2EF

.vocals-wrapper
  border-color #AC9BDB

.aesthetics-wrapper
  border-color #F87F8B

.dance-wrapper
  border-color #ECBD39
  margin-left auto
  margin-right auto

.generation-label
  font-weight 700
  font-family $national-narrow
  font-size 34px


.generation-description
  margin-top .4rem
  text-align left

#generation-1-label
  color #F0C94E

#generation-2-label
  color #E58B96

#generation-3-label
  color #73BCBD

#supergroups-label
  color #FCA972

#subunits-label
  color #BF216B

#idol-label
  color #262151

.generation-1-wrapper
  border-color #F0C94E

.generation-2-wrapper
  border-color #E58B96

.generation-3-wrapper
  border-color #73BCBD

.supergroups-wrapper
  border-color #FCA972

.subunits-wrapper
  border-color #BF216B

.idol-shows-wrapper
  border-color #262151
  margin-left auto

.methodology
  margin-top 5rem

#methods-label
  font-size 1rem
  font-weight 600
  font-family $national-narrow

#methods
  font-size .8rem
  margin-top .3rem

#footer-byline
  font-size .8rem
  margin-top .3rem

.tippy-box[data-theme~='vaporwave']{
  background-color: #262151;
  color: #F89DFC;
  font-family: $national-narrow;
  padding: .4rem;
  text-align: center;
  font-size: 1rem;
  }

.tooltip-highlight, .tooltip-highlight-gif
  color #344EA5
  color $text-blue
  background #fcd3d4
  cursor help


.tooltip-highlight-gif
  cursor help
  position relative
  z-index 10000000
  .mouseover-gif
    display none
    img
      position absolute
      left 0px
      top 2rem
      width 300px

.legend-wrapper
  .legend-small
    .legend-1
        width 22.882882882882882vw
        width calc(calc(100vw - 100px)*0.253/3)

    .legend-2
        width calc(10.951351351351352vw / 3)
        //width calc(calc(100vw - 100px)*0.253)

    .legend-3
        width calc(2.5233528459334913vw / 3)
        //width calc(calc(100vw - 100px)*0.253)
  .legend-large
    .legend-1
      width 22.882882882882882vw
      width calc(calc(100vw - 100px) * 0.253 * .66)

    .legend-2
      width calc(10.951351351351352vw * .66)

    .legend-3
      width calc(2.5233528459334913vw * .66)


.legend
  background-color silver
  background rgb(240, 201, 78)
  margin 0
  height 13px
  font-size .2rem
  margin-top 7px
  margin-right 5px
  border 1px solid white

.legend-explanation
  margin 0
  top 10.0038167938931295vh
  z-index 1
  font-size 12px
  font-family $national-narrow
  text-align center
  padding-top 3px
  font-weight 300
  margin-right 5px

.legend-number
  font-weight 600
  margin-right 5px



.legend-label
  height .2vh
  position absolute
  bottom 0px
  z-index 1
  display none
  background-color #ffffff

.yt-wrapper
  max-width 100%
  padding-bottom 56%
  height 0
  position relative
  #ytvideo
    width 100%
    height 100%
    top 0px
    left 0px
    position absolute


.standalone
  margin-bottom 5rem
