<div class='intro'>
<!--   <img id='pudding-logo' src='assets/images/logo.svg'> -->
  <h1 class='intro__tag'>The Pudding and <span class="logo-swap">Kontinentalist</span> present...</h1>
<!--   <img id='kontinentalist-logo' src='assets/images/kontinentalist-logo-turtle.svg'> -->
	<div class='intro__image'>
	</div>
  <h1 class='intro__hed'>{{{doc.title}}}</h1>
	<p class='intro__dek'>{{doc.dek}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>, <time class='intro__time'>May 2020</time>
	</p>

</div>
