<div class='part3'>

  <!-- pre chart text -->
  <div class='prose standalone'>
    <p>{{{doc.topten2}}}</p>
  </div>

  <!-- flourish chart 2 -->
  <div class='static-chart'>

    <!--   chart title  -->
    <div class='static-chart-title'>
      <h2>The Most Popular K-pop Groups by Record Sales, 2019</h2>
    </div>

    <div class="flourish-embed flourish-chart" data-src="visualisation/1976174"></div>
  </div>

    <!-- post chart text -->
  <div class='prose'>
    <p>{{{doc.topten3}}}</p>
    <p class="section-hed">Group Positions</p>
  </div>



<!--    text for scrolling -->
  <!-- <div class='prose' id='topten-text'>
    <div class='step overlay idol-shows-wrapper' data-step=1>
      <h2 class='generation-label' id='idol-label'>Idol Survival Shows</h2>
      <p class='generation-description'>{{{doc.topten2}}}</p>
    </div>
    <div class='step overlay' data-step=2>
      <p class='generation-description'>{{{doc.topten3}}}</p>
    </div>
  </div> -->

</div>
