
<div class='part1'>
  <div class='prose'>
    <p>{{{doc.intro1}}}</p>
    <p>{{{doc.intro2}}}</p>
    <p>{{{doc.intro3}}}</p>
    <p>{{{doc.intro4}}}</p>
    <!-- <p class="section-hed">K-pop Group sizes, ’92 - ’20</p> -->
  </div>
</div>
