<div class='part3'>

  <!-- pre chart text -->
  <div class='prose'>
    <p>{{{doc.topten2}}}</p>
  </div>

  <!-- flourish chart 2 -->
  <div class='static-chart'>
    <div class="flourish-embed flourish-chart" data-src="visualisation/1976174"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>

    <!-- post chart text -->
  <div class='prose'>
    <p>{{{doc.topten3}}}</p>
  </div>

  

<!--    text for scrolling -->
  <!-- <div class='prose' id='topten-text'>
    <div class='step overlay idol-shows-wrapper' data-step=1>
      <h2 class='generation-label' id='idol-label'>Idol Survival Shows</h2>
      <p class='generation-description'>{{{doc.topten2}}}</p>
    </div>
    <div class='step overlay' data-step=2>
      <p class='generation-description'>{{{doc.topten3}}}</p>
    </div>
  </div> -->

</div>