<div class='part5'>
  <div class='prose'>
    <p>{{{doc.outro1}}}</p>
    <p>{{{doc.outro2}}}</p>
  </div>

  <div class='prose methodology'>
    <h2 id='methods-label'>Methodology</h2>
    <p id='methods'>{{{doc.methodology}}}</p>
  </div>
</div>