<div class='part3'>
  <div class='chart'></div>
  <div class='prose'>
    <p>{{{doc.topten1}}}</p>
    <p>{{{doc.topten2}}}</p>
    <p>{{{doc.topten3}}}</p>
    <p>{{{doc.topten4}}}</p>
  </div>
</div>